@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #24272e;
  font-family: 'Asap', sans-serif;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #24272e;
  text-align: center;
}

.score-board {
  margin: 20px auto;
  padding: 15px 20px;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;

}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  margin-top: 50px;
  text-align: center;
}

.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #1a1c20;
}

.choice > img {
  height: 15vw;
}

#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.green-glow {
  border: 4px solid #29bd1b;
  box-shadow: 0 0 10px #124e0c;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #520305;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #13131f;
}